.Rproj.user
.Rhistory
.RData
.Ruserdata
data/**
*.Rproj
CMI/**
*.html
images/**
output/**
maxEnt_goldfish_explore_files/figure-html/**
*_results/
vect/**
rasters/**
*.tif
.xlsx
/scripts/python/*
worddocs/**